@media screen and (max-width: 768px){
    .contenedor-header{ /*Está configuración es para el móvil*/
        width: 100%;
        margin: auto; /*El margin en auto realiza un centrado*/
        display: grid;
        grid-gap: 10px; /*Al ser una adaptación al móvil, tiene que ser menor la distancia entre elementos*/
        grid-template-columns: repeat(6, 1fr); /*Indica cantidad de columnas, acá son 3, la primera y la última de 200px y la otra de lo que queda*/
        grid-template-rows: 50px 20px 50px; /*Indica cantidad de filas, acá son 3, la primera y la última de 50px y la otra de 100px*/
    }
	.contenedor-header .informacion-superior-izquierda {
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        align-self: start;
        justify-self: center;
        
	}

    .contenedor-header .contacto-superior-derecho {
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        align-self: end;
        justify-self: center;
        
	}
    
    .contenedor-header .background-header img{
        width: 100%;
        height: 100%;
        grid-column: 1 / 7;
        grid-row: 1 / 2;
    }

    .contenedor-header .encabezado {
        grid-column: 1 / 7;
        grid-row: 3 / 4;
        color: white;
        font-size: 90%;
        align-self: center;
        justify-self: center;
    }

    .main .seccion-1{
        grid-column: 1 / 7;
        grid-row-start: 1;
        margin: auto; /*El margin en auto realiza un centrado*/
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 150px repeat(5, 35px) 0px;
    }

    .main .seccion-1 .imagencircular{
        grid-column: 3 / 5; /*(SIMPLIFICACIÓN: El primero indica el start y el segundo el end)*/
        grid-row: 1 / 1;
        align-self: center;
        justify-self: center;
    }

    .main .seccion-1 .aptitudes p {
      font-size: 90%;
      grid-column-start: 1;
      grid-row: 1 / 7;
      margin: auto;
    }

    .main .seccion-1 .boton-whatsapp{
        grid-column: 3 / 4;
        grid-row: 6 / 7;
        justify-self: end;
        align-self: center;
        margin: -10px; /*Con el margin podemos reacomodar un poco el elemento dentro del contenedor*/
        font-size: 90%;
    }
    
    .main .seccion-1 .boton-mail{
        grid-column: 4 / 5;
        grid-row: 6 / 7;
        justify-self: start;
        align-self: center;
        margin: -8px; /*Con el margin podemos reacomodar un poco el elemento dentro del contenedor*/
        font-size: 90%;
    }

    .main .seccion-2{
        width: 100%;
        max-width: 1500px; /*Se le indica que sea del 90% pero llegando como máximo a 1000px (ideal para*/
        margin: auto; /*El margin en auto realiza un centrado*/
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 24px 440px 24px 440px 24px;
    }
    
    .main .seccion-2 .titulo-diseno-ux-ui{ /*Le indicamos a los títulos dónde se van a ubicar dentro de la grilla*/
        margin-left: 16px;
        grid-column: 1 / 9;
        grid-row-start: 1;
        font-size: 75%;
    }
    
    .main .seccion-2 .titulo-produccion-audiovisual{ /*Le indicamos a los títulos dónde se van a ubicar dentro de la grilla*/
        margin-left: 16px;
        grid-column: 1 / 9;
        grid-row-start: 3;
        font-size: 75%;
        
    }
    
    .main .seccion-2 .wrapper-1{ /*Esta es una GRID que posee la información del contenedor de tarjetas, no de las tarjetas ni de sus elementos.*/
        height: 435px; /*Le damos un tamaño para que entre todo el contenido de dentro*/
        display: grid; /*Le indicamos que es una Grid*/
        grid-template-columns: repeat(2, 260px); /*Le decimos que son 2 elementos de 320px cada uno, si queremos agregar más tarjetas, debemos
        aumentar la cantidad de elementos*/
        overflow-x: auto; /*Le indicamos el scroll horizontal*/
    
    }
    
    .main .seccion-2 .wrapper-2{ /*Esta es una GRID que posee la información del contenedor de tarjetas, no de las tarjetas ni de sus elementos.*/
        height: 435px; /*Le damos un tamaño para que entre todo el contenido de dentro*/
        grid-row-start: 4; 
        display: grid; /*Le indicamos que es una Grid*/
        grid-template-columns: repeat(9, 260px); /*Le decimos que son 9 elemenos de 320px cada uno, el tamaño es este ya que permite ver en pantalla de
        ordenador 4 tarjetas y media de una que indica que se puede scrollear*/
        overflow-x: auto; /*Le indicamos el scroll horizontal*/
    }

    .tarjetas { /*Esta es una SUB-GRID con la información de las tarjetas, no de sus elementos*/
        background-color: #201e20; /*Indicamos color del fondo. PARA CELULARES TIENE UN COLOR UN POCO MÁS CLARO*/
        width: 210px;
        height: 370px; /*Indicamos el largo de la tarjeta. Si hay que agregar más info, podemos hacerla más larga desde acá*/
        padding: 20px 20px 0px 20px; /*El padding es interno al elemento y extiende el background, queda lindo para hacer botones o tarjetas*/
        margin: 16px; /*Es externo al elemento y separa del resto de las tarjetas*/
        border-radius: 10px; /*Indicamos bordes redondeados de la tarjeta*/
        display: grid; /*Indicamos que es una grid*/
        grid-template-columns: 70px 70px 70px; /*A DIFERENCIA DEL FORMATO DE ORDENADOR, LE CAMBIAMOS LA MEDIDA PARA QUE SE ADAPTÉ AL CELU. TIENE
        10px MENOS EN CADA COLUMNA*/
        grid-template-rows: 250px 30px 30px 40px; /*Generamos filas*/
    }
    
    .tarjetas a img {/*Estilos de la imagen*/
        min-width: 110px;
        width: 210px; /*ACHICAMOS LA IMAGEN RESPECTO A LA DEL ORDENADOR*/
        height: 240px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 3px 3px 3px black;
        grid-row: 1 / 4;
        justify-self: center;
        align-self: center;
    }
    
    .tarjetas #nombre-proyecto{ /*Estilo del nombre del proyecto*/
        color: white;
        font-family: "poppins";
        font-size: 115%;
        font-weight: 700;
        grid-column: 1 / 4; /*Le indicamos donde se ubica dentro de la SUB GRID "Tarjetas"*/
        grid-row: 2 / 3;
        justify-self: start;
        align-self: center;
    }
    
    .tarjetas #tipo-de-proyecto{ /*Estilo del tipo de proyecto*/
        color: white;
        font-family: "poppins";
        font-weight: 300;
        font-style: italic;
        font-size: 90%;
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        background-color: #8700A3;
        justify-self: start;
        align-self: center;
    }
    
    .tarjetas #mas-info { /*Estilo del link a más info*/
        color: white;
        font-family: "poppins";
        grid-column: 3 / 4;
        grid-row: 4 / 5;
        justify-self: end;
        align-self: end;
    
    }

    body footer .contenedor-footer{
        grid-template-columns: 10% 1fr 1fr 1fr 10%;
        grid-template-rows: 5px 80px 40px 5px;
    }

    body footer .contenedor-footer .iconos-redes img {
        width: 110%;
        height: 100%;
    }

    body footer .contenedor-footer p {
        justify-self: center;
        align-self: center;
    }
    

    
}

