/*El código que ubica a los wrappers dentro de la GRID, está en el archivo "Grid.css".
En el otro archivo le indicamos donde se iba a ubicar el "Wrapper", ahora continuamos a la estructura interna
A su vez, por el momento hay dos carruseles por lo que tenemos "wrapper-1" y "wrapper-2", si queremos más, tenemos que generar un"wrapper-3"
e indicarle desde el archivo de GRID.CSS donde se va a ubicar dentro de la grilla así no se pisa con ningún elemento.*/

.wrapper-1{ /*Esta es una GRID que posee la información del contenedor de tarjetas, no de las tarjetas ni de sus elementos.*/
    height: 490px; /*Le damos un tamaño para que entre todo el contenido de dentro*/
    display: grid; /*Le indicamos que es una Grid*/
    grid-template-columns: repeat(7, 320px); /*Le decimos que son 2 elementos de 320px cada uno, si queremos agregar más tarjetas, debemos
    aumentar la cantidad de elementos*/
    overflow-x: auto; /*Le indicamos el scroll horizontal*/

}

.wrapper-2{ /*Esta es una GRID que posee la información del contenedor de tarjetas, no de las tarjetas ni de sus elementos.*/
    height: 490px; /*Le damos un tamaño para que entre todo el contenido de dentro*/
    display: grid; /*Le indicamos que es una Grid*/
    grid-template-columns: repeat(9, 320px); /*Le decimos que son 9 elemenos de 320px cada uno, el tamaño es este ya que permite ver en pantalla de
    ordenador 4 tarjetas y media de una que indica que se puede scrollear*/
    overflow-x: auto; /*Le indicamos el scroll horizontal*/
    

}

.tarjetas { /*Esta es una SUB-GRID con la información de las tarjetas, no de sus elementos*/
    background-image: url(img/tarjetas/fondo-tarjetas.png);
    background-size: cover;
    background-color: #111011; /*Indicamos color del fondo*/
    height: 410px; /*Indicamos el largo de la tarjeta. Si hay que agregar más info, podemos hacerla más larga desde acá*/
    padding: 20px 20px 0px 20px; /*El padding es interno al elemento y extiende el background, queda lindo para hacer botones o tarjetas*/
    margin: 20px; /*Es externo al elemento y separa del resto de las tarjetas*/
    border-radius: 10px; /*Indicamos bordes redondeados de la tarjeta*/
    display: grid; /*Indicamos que es una grid*/
    grid-template-columns: 80px 80px 80px; /*Para que todo este alineado, generamos columnas que miden lo mismo que la imagen, así podremos agrupar
    tanto la imagen como los otros elementos en el mismo espacio*/
    grid-template-rows: 290px 30px 30px 40px; /*Generamos filas*/
}

.tarjetas a img {/*Estilos de la imagen con link*/
    min-width: 110px;
    width: 240px;
    height: 270px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    grid-row: 1 / 4;
    justify-self: center;
    align-self: center;
}

.tarjetas #nombre-proyecto{ /*Estilo del nombre del proyecto*/
    color: white;
    font-family: "poppins";
    font-size: 125%;
    font-weight: 700;
    grid-column: 1 / 4; /*Le indicamos donde se ubica dentro de la SUB GRID "Tarjetas"*/
    grid-row: 2 / 3;
    justify-self: start;
    align-self: center;
}

.tarjetas #tipo-de-proyecto{ /*Estilo del tipo de proyecto*/
    color: white;
    font-family: "poppins";
    font-weight: 300;
    font-style: italic;
    font-size: 90%;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    background-color: #8700A3;
    justify-self: start;
    align-self: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.tarjetas #mas-info { /*Estilo del link a más info*/
    color: white;
    font-family: "poppins";
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    justify-self: end;
    align-self: end;

}